/*biography*/
.author-bio {
    display:flex;
    .avatar {
        width: 42px;
        height: 42px;
    }
    .author-bio-content {
        flex:1;
        padding-left: 1rem;
        
        .author-name {
            line-height: 42px;
        }
    }
}