/* 
 * comments 
 */


.comments-area  { 
    /*comment-reply-form*/
    .comment-respond {
        @extend .clearfix;

        margin-top: 2rem;
        margin-bottom: 2rem;

        .form-submit {
            text-align: center;
            .btn-secondary { 
                @extend .float-sm-right;
            }
        }
    }

    /* the comments */
    .comment-list {
        list-style-type: none;
        padding-left: 0;

        .comment-body { 
            border: none; 
            padding: .4rem;
            margin-bottom: .5rem;

            .reply {            
                text-align: right;
                .comment-reply-link{  
                    &:before {
                        font-family: FontAwesome; 
                        padding-right: .3rem;
                        content: "\f112";
                    }
                }
            }
        }  

        /* comment edit-link */
        .comment-edit-link:before {
            font-family: FontAwesome;  
            content: "\f040";
            padding-left: 1rem;
            padding-right: .3rem;
        } 
    }  
} 

