/**
 * === Fonts ===
 * 
 * Changing font:
 * there exist 2 possibilities
 *  - _font-(theme).scss
 *      - change here default very default font, hwich is used when BS & custom css is compiled
 *      - the font has to be present in dev/fonts/
 *      - this one is always taken
 * 
 *  - Customizer Settings
 *      - enter a valid Google-API-key save it & relaod the page
 *      - this way you can use every Google-font you want
 */  

$font-family-base:       Raleway !default;    
$font-family-sans-serif: Raleway, sans-serif !default;
$font-family-serif:      Rokkitt !default;
$font-family-monospace:  Source Code Pro !default;




