/**
 * Define your own colors in here
 */   

/*compare-tool: http://www.colortools.net/color_compare_colors.html*/ 
$brown-dark:                 #fff; // Edit link
$brown:                      #fff;
$brown-light:                #fff;
$brown-lighter:              #fff;
$brown-lightest:             #fff;
 

$turquoise: #9ab7ac; 
$white: #fff; 
$grey: #a3a3a3;
$blue: #286584;

 
