/**
 * Define your own colors in here
 */   

/*compare-tool: http://www.colortools.net/color_compare_colors.html*/ 
$blue-dark:                 #3399CC; // Edit link
$blue:                      #729bbf;
$blue-light:                #7aa3cc;
$blue-lighter:              #6699FF;
$blue-lightest:             #66CCFF;
 

$turquoise: #9ab7ac; 
$white: #fff; 
$grey: #a3a3a3;
$blue: #286584;

 
