/*
 * extend post-scss-file
 *
 * @hint    please use the common-classes for styling
 */ 
 
article.card {
    .card-header {
        border-bottom: #fff !important;
        padding-bottom: 0;
    }
    .card-block.entry-meta {
        padding-top: 0 !important;
    }
    border-bottom: 1px solid #eceeef !important;
}