/*
 * extend post-scss-file
 *
 * @hint    please use the common-classes for styling
 */ 

/*meta-info, i.e. cats, tags, search, ...*/
.card.quicksand-meta-list-header {
    .card-block {
        border-top: 1px solid #eceeef;
        border-right: 1px solid #eceeef;
        border-left: 1px solid #eceeef;
    }
}

article.card {
    .card-header {
        border-bottom: #fff !important;
        padding-bottom: 0;
    }
    .card-block.entry-meta {
        padding-top: 0 !important;
    }
    border-bottom: 1px solid #eceeef !important;
}