/*TODO: anständig stylen*/

.author-bio {
    /*TODO: functions / css preview*/
    background: #eceeef;
    /*TODO: functions / css preview*/
    border-top: 1px solid #dfdfdf;
    .avatar {
        float: left; 
    }
    .author-bio-content {
        margin-left: 74px;
        .author-link {
            float: right;
        }
    }
}