/* 
 * comments
 * form & list
 */


/*TODO: farben*/
.comments-area  { 
    .comment-respond {
        margin-top: 2rem;
    }
    .comment-list {
        padding-left: 0; 

        ol {
            /*TODO: function customizer*/
            border-left: 1px solid #e0e0e0;
        }

        article {
            background: grey;
            padding: .4rem;
            margin-bottom: .5rem;
        }
        .reply {
            text-align: right;
            .comment-reply-link:before {
                font-family: FontAwesome; 
                padding-right: 3px;
                content: "\f112";
            }
        }
    }
    ol {
        list-style-type: none;
        .comment-body {
            /*TODO: function customizer*/
            background: #95b2b1; 
            border: none ;
            color: #686868;
        }
        
            /*TODO: function customizer*/
        a { 
            color: #eceeef;
        }
    } 
} 



/*Pagination: Older / Newer Comments*/
.comment-navigation { 
    .nav-previous {
        @extend .text-xs-left; 
        a {
            @extend .btn;
            @extend .btn-outline-secondary; 
            display: inline-block; 

            &:before {
                font-family: FontAwesome;  
                content: "\f0d9";
                padding-right: 1rem; 
            }
        }
    }
    .nav-next  {
        @extend .text-xs-right; 
        a {
            @extend .btn;
            @extend .btn-outline-secondary; 
            display: inline-block; 

            &:after {
                font-family: FontAwesome; 
                padding-left: 3px; 
                content: "\f0da";
                padding-left: 1rem; 
            }
        }
    } 
}



/* comment edit-link */
.comment-edit-link:before {
    font-family: FontAwesome;  
    content: "\f040";
    padding-left: 1rem;
    padding-right: .3rem;
}

/* adjust all pagination-links */
/*.nav-links {
    display: table;
    width: 100%;
    .nav-previous {
        @extend .text-xs-left; 
        display: table-cell;
        vertical-align: top; 
        width: 50%;
        a:before {
            font-family: FontAwesome; 
            padding-right: 3px;
            content: "\f0d9";
        }
    }
    .nav-next {
        @extend .text-xs-right; 
        display: table-cell;
        vertical-align: top; 
        width: 50%;
        a:after {
            font-family: FontAwesome; 
            padding-left: 3px;
            content: "\f0da";
        }
    }
}*/
