/**
 * Galleries
 */ 

.gallery {
    margin: 0 -1.1666667%;
    padding: 0;
}

.gallery .gallery-item {
    display: inline-block;
    max-width: 33.33%;
    padding: 0 1.1400652% 2.2801304%;
    text-align: center;
    vertical-align: top;
    width: 100%;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 50%;
}

.gallery-columns-4 .gallery-item {
    max-width: 25%;
}

.gallery-columns-5 .gallery-item {
    max-width: 20%;
}

.gallery-columns-6 .gallery-item {
    max-width: 16.66%;
}

.gallery-columns-7 .gallery-item {
    max-width: 14.28%;
}

.gallery-columns-8 .gallery-item {
    max-width: 12.5%;
}

.gallery-columns-9 .gallery-item {
    max-width: 11.11%;
}

.gallery .gallery-caption {
    font-size: 13px;
    margin: 0;
}

.gallery-columns-6 .gallery-caption,
.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}


.image-navigation {
    .nav-links {
        .nav-previous { 
                float: left;
                
                &:before {
                    font-family: FontAwesome; 
                    padding-right: 3px;
                    content: "\f177";
                }
        }
        .nav-next { 
                float: right;
                
                &:after {
                    font-family: FontAwesome; 
                    padding-left: 3px;
                    content: "\f178";
                }
        } 
    }
}

/* the markup is changed, when lightgallery is used */
.gallery-item {
    .lightgallery-item {
        cursor: pointer;
    }
}