/**
 * non-bs-variables
 */  

/* only for screen-readers */
.screen-reader-text {
    @extend .sr-only;
}    

/* blockquote & blockquote-footer */
blockquote {
    @extend .blockquote;
    font-style: italic;
    /*border-left: .25rem solid $gray-dark !important;*/
} 

cite {
    display: inline !important;
    @extend .blockquote-footer;
}


/* table */
table {
    @extend .table;
}

/*
 * WP-Unit-Test
 * break the title if necassary
 * @see http://wp.local/title-should-not-overflow-the-content-area/
*/
.card-title.entry-title {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}



/* WP-Unit-Test 
 * alignment classes for img-floating 
 * @see http://wp.local/markup-image-alignment/
 */
.aligncenter {
    @extend .m-x-auto;
    margin: 0 auto 1.75em;
}
.alignright {
    @extend .pull-sm-right;
    margin: 0.375em 0 1.75em 1.75em;
}
.alignleft {
    @extend .pull-sm-left;
    margin: 0.375em 1.75em 1.75em 0;
} 

 classes needed by WP  
.bypostauthor {
    color: #686868;
}
.wp-caption-text {
    color: #686868;
}
