/**
 * header
 */   

.site-info.custom-header-image {
    display: table;
    width: 100%;
    .site-info-wrapper {
        display: table-cell;
        vertical-align: middle;
        h1, p {
            display: inline-block;
            /*background: rgba(0,0,0,.2);*/ 
            padding: .5rem 1rem;
        }
    }
}

.site-info-wrapper.jumbotron {  
    padding: 3rem 2rem;
    word-wrap: break-word;  
    margin-bottom: 0;
}

.site-info {
    a:link,
        a:visited,
        a:hover,
        a:active { 
        text-decoration: none !important;
    }
}
