/**
 * primary navigation 
 */    

$navbar-height: 60px;  


.navbar-brand {
    max-width: 250px;
    .custom-logo {
        max-height: $navbar-height;
        width: auto;
        max-width: 250px;
    } 
}

@media (min-width: 767px) {
    .site-navigation  {
        padding: 5px 0;
        .navbar {
            height: $navbar-height;
            padding: 0 1rem;
            li { 
                .dropdown-menu { 
                    margin: 16px 0 0;
                } 
            }
 
            .collapse.navbar-toggleable-sm {  
                .nav-content {   
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: $navbar-height;
                    max-height: $navbar-height;

                    .nav-wrapper{  
                        flex: 1;
                        .navbar-nav {
                            float: right; 
                        }
                    }

                    .nav-search-wrapper { 
                        width: 50px;
                        margin-left: 10px;
                        .nav-search {
                            width: 100%;
                        }
                    }
                }


                .nav-searchform {  
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    height: $navbar-height;
                    max-height: $navbar-height;
                    
                    form {
                        flex: 1;
                        .row {
                            width: 100%;
                            .input-group {
                                width: 100%;
                            }
                        }
                    }
                } 
            }
        }
    }
}

/*mobile navigation*/
@media (max-width: 767px) { 
    .navbar { 
        .nav-searchform {
            display: none !important;
        }
        .nav-content {
            display: block !important;
        }
        .navbar-toggler { 
            float: none !important;
        } 
        .nav-item + .nav-item {
            margin-left: 0;
        }
        .dropdown {
            position: initial;
        }
        .dropdown-menu {
            position: initial;
            z-index: initial;
            float: initial;
            border: initial;
            border-radius: initial;
        }
    } 
    
    .nav-searchform-mobile { 
        margin-top: 1rem;  
        
        .nav-search-mobile-submit {
            width: 100%;
        }
    }
}  



