/**
 * Main file for post-layout
 */


/* featured sticky post */
.sticky-post {
    @extend .tag;
    @extend .tag-danger; 
}


/*.site-content-area {
    article { 
        padding: 2rem;
    }
}*/


/*
 * post-meta 
 */

.post-meta-data { 
    .posted-on:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f017"; 
    }
    .post-author:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f007"; 
    }
    .cat-links:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f07c"; 
    }
    .tags-links:before {
        font-family: FontAwesome;
        padding-right: .4rem;
        content: "\f02c"; 
    }
    .comments-link {
        @extend .m-t-1;
        a:before {
            font-family: FontAwesome; 
            padding-right: .4rem;
            content: "\f075";
        }
    }
    >span:not(:last-of-type):after {
        content: ' | ';
    }
}



/*
 * thumbnail
 */

/* stretch postthumbnail to 100% */
.post-thumbnail { 
    width:100%;
    height:auto; 
}

/* crop thumbnail in list-view
    TODO: wo word das gesetzt?
*/
/*.crop-thumbnail {
    max-height: 300px;
    overflow: hidden;
}  */

/*
 * entries
 */
/*.entry-title {
    font-weight: bold; 
}*/

/* excerpt */
.entry-summary {
    color: $gray;
    font-style: italic;
}

/* 
 * for the WP-Test: reduce size of massively large image with no alignment.
 *  http://wp.local/archives/tag/alignment-2
 */ 
.entry-content { 
    .wp-caption {
        max-width: 100%;
    }

    img {
        border: none;
        height: auto;
        max-width: 100%; 
    }

    .page-links  {
        >.paged-link {
            margin-right: .3rem;
        }
        a {
            @extend .btn;
            @extend .btn-outline-secondary;
            margin-right: .3rem;
            color: $gray;
            background-image: none;
            background-color: transparent;
            border-color: $gray-light;
        }
        a:hover {
            color: $gray-light;
            background-color: $gray;
            border-color: $gray;
        }
    }
} 


/*.author-info {
  
} */



/*
 * comments
 */

.comments-area  {
    .comment-respond {
        @extend .m-t-2;
    }
    ol {
        list-style-type: none;
        .comment-reply-link:before {
            font-family: FontAwesome; 
            padding-right: 3px;
            content: "\f112";
        }
    }
    .comment-metadata {
        @extend .m-b-1; 
    }
} 

/* all edit-links */
/*.comment-edit-link:before,
.post-edit-link:before {
    font-family: FontAwesome; 
    padding-right: 3px;
    content: "\f040";
}*/



