/*
 * Main file for post-layout
 */


/* featured sticky post */
.sticky-post {
    @extend .tag;
    @extend .tag-danger; 
} 


/* post-meta */ 
.entry-meta { 
    font-size: .9rem;     
    /*TODO: muss änderbar bleiben wgen background-color: slider in customizer*/
    /*margin-top: -1.5em !important;*/
    padding-top: 0 !important;
    padding-bottom: 0 !important;

    .posted-on:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f017"; 
    }
    .post-author:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f007"; 
    }
    .cat-links:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f07c"; 
    }
    .tags-links:before {
        font-family: FontAwesome;
        padding-right: .4rem;
        content: "\f02c"; 
    }
    .comments-link:before {
        font-family: FontAwesome; 
        padding-right: .4rem;
        content: "\f075";
    }
    >span:not(:last-of-type):after {
        content: ' | ';
    }
}



/* 
 * featured image  
 * stretch thumbnail to 100% in combination with class' img-fluid'
 */
.post-thumbnail img { 
    width:100%; 
}




/*post pagination: previous & next post*/
.post-navigation { 
    .nav-previous {
        @extend .text-xs-left; 
        display: inline-block;
        width: 50%;
        .fa { 
            padding-right: 1rem; 
        }
    }
    .nav-next {
        @extend .text-lg-right; 
        display: inline-block;
        width: 50%;
        .fa { 
            padding-left: 1rem; 
        }
    }
}

.card {
    margin-bottom: 2rem !important;

    /* excerpt */
    /*TODO: color*/
    .entry-summary {
        color: #999;
        font-style: italic;
        /*TODO: in customizer preview & functions*/
        border-bottom: 1px solid rgba(0,0,0,.125);
    }

    .entry-header.card-header {
        .entry-title.card-title {
            margin-top: 1rem;
            margin-bottom: 1rem;
        }
    }

    .entry-content {
        .read-more-link {
            float: right;
        }
        .wp-caption {
            max-width: 100%;
        }

        /* 
         * for the WP-Test: reduce size of massively large image with no alignment.
         *  http://wp.local/archives/tag/alignment-2
         */ 
        img {
            border: none;
            height: auto;
            max-width: 100%; 
        } 
    }


    .entry-footer {
        .tag-links {
            .tag {
                /*TODO: in customizer preview & functions*/
                margin-right: .5rem;
                background: #286584;
                a {
                    color: #fff;
                }
            }
        }

        /* edit post-link  */ 
        .post-edit-link:before {
            font-family: FontAwesome; 
            padding-right: .3rem;
            content: "\f040";
        }
    }
}



.page-links  {
    >.paged-link {
        margin-right: .3rem;
    }
    a {
        @extend .btn;
        @extend .btn-outline-secondary;
        margin-right: .3rem;
        /*color: $gray;*/
        background-image: none;
        background-color: transparent;
        /*border-color: $gray-light;*/
    }
    /*    a:hover {
            color: $gray-light;
            background-color: $gray;
            border-color: $gray;
        }*/
}


/*
 * entries
 */
/*.entry-title {
    font-weight: bold; 
}*/



/*.entry-content { 
    .wp-caption {
        max-width: 100%;
    }

    img {
        border: none;
        height: auto;
        max-width: 100%; 
    } 
} */


/*.author-info {
  
} */



