/**
 * Create some space & push main sections 
 */   

/* always push down content after header */
.site-header {
    @extend .m-b-2; 
}

/*stick to the navbar when fullwidth*/ 
.site-header.container {
    @extend .m-t-2; 
    padding-left: 0;
    padding-right: 0;
}

/*always leave some space to the footer-widgetbar*/
.site-main-container {
    @extend .m-b-2; 
}


.site-content { 
    padding: .6rem;

    .post-meta-data {
        @extend .m-b-1;
    }

    .post-thumbnail img { 
        @extend .m-b-1;
    } 

    article {
        @extend .m-b-3;
    } 

    .site-sidebar {  
        section.widget {
            @extend .m-b-2;
            @extend .text-md-left; 
            h2 {
                @extend .text-xs-center; 
            }
        } 
    } 
}   


.site-footer-widgetbar {  
    section.widget {
        @extend .m-b-2;
        @extend .text-md-left; 
    }
}
