/*
 * widgets
 */
#secondary {
    .widget { 

        /* calendar-widget bugfix */ 
        /*    @media (max-width: 767px) {
                #wp-calendar {
                    margin: 0 auto;
                }
            } */
        .widget-title {
            margin-bottom: 0;
        }

        ul, ol {
            list-style-type: none;  
            @extend .list-group; 
            li { 
                @extend .list-group-item;

                border-style: solid;
                border-left: none !important;
                border-right: none !important;

                &:first-of-type {
                    border-top: none !important;
                }
                &:last-of-type {
                    border-bottom: none !important;
                }
                li {
                    border:none;
                    padding-bottom: 0;
                }
            }

        }
    } 
} 

