/*nav-arrows*/
.flex-direction-nav a {
    height: 80px !important;
    top: 45%;
}

/*large slide in header*/
.quicksand-slider-header-wrapper { 
    .flexslider { 
        border: none !important;

        .slides { 
            max-height: 30rem;  // adjustable in settings
            overflow: hidden; 
            li { 
                height: 100%;
                position:relative;
                img {
                    @extend .img-fluid;
                } 
                .flex-caption {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    margin-top: 3rem;
                    margin-left: 0;

                    h2 {
                        max-width: 80%;
                        display: inline-block;
                        padding: 1rem 5rem; 
                        color: #fff;
                    }

                    .excerpt {  
                        max-width: 50%;
                        background: rgb(59, 59, 59);
                        background: rgba(59, 59, 59, 0.8);
                        display: block;
                        color: #ddd;
                        padding: 1rem 5rem; 

                        a {
                            color: rgba(217, 217, 217, 1);
                            text-decoration: none;
                            &:active,
                                &:visited, 
                                &:hover {
                                text-decoration: none;
                            }
                        }
                    }
                }


            }
        } 

        /*    .flex-control-nav {
                position: absolute;
                display: inline-block;
                bottom: 10px;
                z-index: 1000;
            }*/
    }
}


/*small slider in post-header*/
.quicksand-post-gallery {
    padding: 0 !important; 
    overflow: hidden;

    .flexslider { 
        border: none !important;
        margin: 0;

        max-height: 20rem; 
        overflow: hidden; 

        /*        .slides { 
                    li {
                        height: 100%; 
                        img {
                            @extend .img-fluid; 
                        }
                    }
                }*/
    }
}

/*navigation*/
.flex-control-paging {
    li  { 
        a { 
            width: 1.7rem !important; 
            height: .5rem !important; 
            border-radius: 0 !important;   
        }
    } 
}  

@media (min-width: 768px) {
    .quicksand-post-gallery { 
        .flexslider {
            max-height: 30rem;  
        }
    }
}

@media screen and (max-width: 768px) {
    .flex-caption {
        display: none;
    }
    .flex-direction-nav .flex-prev { opacity: 1; left: 10px;}
    .flex-direction-nav .flex-next { opacity: 1; right: 10px;}
}  