/**
 * This is the default file, if no color-scheme is selected or a custom bootstrap-variables-COLORSCHEME isn't present.
 *
 * Copy variables from bootstrap's `_variables.scss` to this file to override default values 
 *
 * Define also your scheme-color specific variables in here 
 */   


/* === custom variables === */ 
$turquoise:             #2cb5b1; 
$white:                 #fff; 
 


/* === bootstrap variables === */
$enable-rounded: false;
 
/*main colors*/

$gray-dark:                 #373a3c !default;
$gray:                      #55595c !default;
$gray-light:                #818a91 !default;
$gray-lighter:              #eceeef !default;
$gray-lightest:             #f7f7f9 !default; 


 
/* btn colors */
/*use secondary for all submit & input-group buttons*/
$btn-secondary-color:            $white;
$btn-secondary-bg:               $turquoise; 
$btn-secondary-border:           $turquoise;


/*$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;
$btn-primary-border:             $btn-primary-bg !default;


$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;
$btn-info-border:                $btn-info-bg !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;
$btn-success-border:             $btn-success-bg !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;
$btn-warning-border:             $btn-warning-bg !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;
$btn-danger-border:              $btn-danger-bg !default;

$btn-link-disabled-color:        $gray-light !default;*/
