/**
 * overwrite here orginal Bootstrap-variables  
 *
 * Copy variables from bootstrap's `_variables.scss` to this file to override default values 
 *
 * Define also your scheme-color specific variables in here 
 */



/* === bootstrap variables === */
$enable-rounded: false;

/*main colors*/

/*$gray-dark:                 green !default; // Edit link
$gray:                      red !default;
$gray-light:                blue !default;
$gray-lighter:              yellow !default;
$gray-lightest:             brown !default; */


/* btn colors */
/*use secondary for all submit & input-group buttons*/
$btn-secondary-color:            $white;
$btn-secondary-bg:               $turquoise; 
$btn-secondary-border:           $turquoise; 

/* custom extend */
a.btn.btn-secondary,
.btn.btn-secondary a {
    background: $white;
    color: $turquoise !important;
    border: none !important;
    &:hover {
        background: $turquoise;
        color: $white !important;
        border: none !important;
        text-decoration: none;
    }
}  

input.btn.btn-secondary {
    background: $turquoise;
    color: $white !important;
    border: 1px solid $turquoise !important;
    &:hover {
        background: $white;
        color: $turquoise !important;
        border: none !important;
        border: 1px solid $turquoise !important;
    }
}

span.btn.btn-secondary{
    background: $white;
    color: $turquoise !important;
    border: 1px solid $turquoise !important;
    &:hover {
        background: $turquoise;
        color: $white !important;
        border: none !important;
        text-decoration: none;
    }
}
.btn.btn-outline-secondary {
    a {
        color: $turquoise !important;
        &:hover {
            background: $turquoise;
            color: $white !important;
            border: none !important;
            text-decoration: none;
        }
    }
}

/*FIX: background secondary-btn*/
.input-group-btn {
    background: $turquoise;
}