/**
 * overwrite here orginal Bootstrap-variables  
 *
 * Copy variables from bootstrap's `_variables.scss` to this file to override default values 
 *
 * Define also your scheme-color specific variables in here 
 */



/* === bootstrap variables === */
$enable-rounded: false;
 
$gray-dark:                 $brown-dark !default; // Edit link
$gray:                      $brown !default;
$gray-light:                $brown-light !default;
$gray-lighter:              $brown-lighter !default;
$gray-lightest:             $brown-lightest !default;   

/* btn colors */
/*use secondary for all submit & input-group buttons*/
$btn-secondary-color:            $white;
$btn-secondary-bg:               $brown-light; 
$btn-secondary-border:           $brown-light; 

/* custom extend */
a.btn.btn-secondary,
.btn.btn-secondary a {
    background: $white;
    color: $brown-light !important;
    border: none !important;
    &:hover {
        background: $brown-light;
        color: $white !important;
        border: none !important;
        text-decoration: none;
    }
}  

input.btn.btn-secondary {
    background: $brown-light;
    color: $white !important;
    border: 1px solid $brown-light !important;
    &:hover {
        background: $white;
        color: $brown-light !important;
        border: none !important;
        border: 1px solid $brown-light !important;
    }
}

span.btn.btn-secondary{
    background: $white;
    color: $brown-light !important;
    border: 1px solid $white !important;
    &:hover {
        background: $brown-light;
        color: $white !important;
        border: none !important;
        text-decoration: none;
    }
}
.btn.btn-outline-secondary {
    a {
        color: $brown-light !important;
        &:hover {
            background: $brown-light;
            color: $white !important;
            border: none !important;
            text-decoration: none;
        }
    }
}

/*FIX: background secondary-btn*/
.input-group-btn {
    background: $brown-light;
}