/*
 * widgets
 */
.widget { 
    /* calendar-widget bugfix */ 
    @media (max-width: 767px) {
        #wp-calendar {
            margin: 0 auto;
        }
    } 
    
    ul, ol {
        list-style-type: none;  
        @extend .list-group; 
        li {
            @extend .list-group-item;
            
            li {
                border:none;
                border-top: 1px solid $gray-lightest;
            }
        }

    }
} 

/*Table Bug*/
.site-footer-widgetbar {
    section.widget_calendar { 
        overflow: hidden;
    }
}