/*pagination: bootstrap-style*/


/*BS-style pagination*/
.bs-pagination {
    /*@extend text-xs-xenter*/
    width: 100%;
    text-align: center;
    .navigation.pagination {
        display: inline-block;
        /*@include center-block;*/
        text-align: center; 
        .nav-links {
            @extend .pagination;
            .page-numbers {
                @extend .page-link;
                &:first-child {
                    margin-left: 0;
                    @include border-left-radius($border-radius);
                }
                &:last-child {
                    @include border-right-radius($border-radius);
                }
                &.current {
                    @include plain-hover-focus {
                        z-index: 2;
                        color: $pagination-active-color;
                        cursor: default;
                        background-color: $pagination-active-bg;
                        border-color: $pagination-active-border;
                    }
                }
            }
        }
    }
} 





@include media-breakpoint-up(sm) {

    $navbar-height: 50px; 

    .site-navigation  {

        .navbar-nav li a {
            line-height: $navbar-height;
        }
        .navbar-brand {
            .custom-logo-link {
                line-height: $navbar-height;
            }  
            .custom-logo {
                max-height: $navbar-height;
                width: auto;
            } 
        }  
        .navbar-nav {
            li { 
                .dropdown-menu {
                    /*align the dropdown*/
                    margin: 7px 0 0;
                    .dropdown-item {
                        line-height: $navbar-height / 2;
                    } 
                }
            }
        } 

    }
}

@include media-breakpoint-down(sm) {
    .navbar-header {
        display: none;
    }
    .navbar {
        .nabvar-wrapper {
            float: left !important;
        }
        .navbar-toggler { 
            float: none !important;
        } 
        .nav-item + .nav-item {
            margin-left: 0;
        }

        .dropdown {
            position: initial;
        }

        .dropdown-menu {
            position: initial;
            z-index: initial;
            float: initial;
            border: initial;
            border-radius: initial;
        }
    } 
}