.site-info.custom-header-image {
    display: table;
    width: 100%;
    .site-info-wrapper {
        display: table-cell;
        vertical-align: middle;
        h1, p {
            display: inline-block;
            background: rgba(0,0,0,.2); 
            padding: 20px;
        }
    }
}