$navbar-height: 50px;

.site-navigation { 
    .navbar-brand {
        .logo {
            max-height: $navbar-height;
        } 
    }  

    @media (min-width: 768px) {
        .nav-wrapper { 
            max-height: $navbar-height; 
        }
    }

    .navbar-nav {
        li {
            .nav-link {
                line-height: $navbar-height;
            } 
            .dropdown-item {
                line-height: $navbar-height / 2;
            } 
        }
    }

}