$navbar-height: 50px; 

.navbar-nav li a {
    line-height: $navbar-height;
}
.navbar-brand {
    .custom-logo-link {
        line-height: $navbar-height;
    }  
    .custom-logo {
        max-height: $navbar-height;
        width: auto;
    } 
}  
.navbar-nav {
    li { 
        .dropdown-menu {
            /*align the dropdown*/
            margin: 7px 0 0;
            .dropdown-item {
                line-height: $navbar-height / 2;
            } 
        }
    }
} 