/**
 * Main file for post-layout
 */


/* featured sticky post */
.sticky-post {
    @extend .tag;
    @extend .tag-danger; 
}

/*
 * post-meta 
 */

.post-meta-data { 
    .posted-on{
        a:before {
            font-family: FontAwesome; 
            padding-right: 3px;
            content: "\f017";
        }
    }
    .cat-links:before {
        font-family: FontAwesome; 
        padding-right: 3px;
        content: "\f07c"; 
    }
    .tags-links:before {
        font-family: FontAwesome; 
        padding-right: 3px;
        content: "\f02c"; 
    }
    .comments-link {
        @extend .m-t-1;
        a:before {
            font-family: FontAwesome; 
            padding-right: 3px;
            content: "\f075";
        }
    }
    span:not(:last-of-type):after {
        content: ' | ';
    }
}


/*
 * thumbnail
 */

/* stretch postthumbnail to 100% */
.post-thumbnail {
    img {
        width: 100%; 
    }
}

/* crop thumbnail in list-view */
/*.crop-thumbnail {
    max-height: 300px;
    overflow: hidden;
}  */

/*
 * entries
 */
.entry-title {
    font-weight: bold;
}

/* excerpt */
.entry-summary {
    color: $gray;
    font-style: italic;
}

/* 
 * for the WP-Test: reduce size of massively large image with no alignment.
 *  http://wp.local/archives/tag/alignment-2
 */ 
.entry-content { 
    .wp-caption {
        max-width: 100%;
    }

    img {
        border: none;
        height: auto;
        max-width: 100%; 
    }

    .page-links  {
        >.paged-link {
            margin-right: .3rem;
        }
        a {
            @extend .btn;
            @extend .btn-outline-secondary;
            margin-right: .3rem;
            color: $gray;
            background-image: none;
            background-color: transparent;
            border-color: $gray-light;
        }
        a:hover {
            color: $gray-light;
            background-color: $gray;
            border-color: $gray;
        }
    }
}




/* Responsive Videos */
/*.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}*/






/*more space between paged-post pagination (<!-- nextpage -->)*/
/*.paged-link {
    padding-left: .3rem;
    padding-right: .3rem;
}*/




/*
 * comments
 */

.comments-area  {
    .comment-respond {
        @extend .m-t-2;
    }
    ol {
        list-style-type: none;
        .comment-reply-link:before {
            font-family: FontAwesome; 
            padding-right: 3px;
            content: "\f112";
        }
    }
    .comment-metadata {
        @extend .m-b-1; 
    }
} 

/* all edit-links */
.comment-edit-link:before,
.post-edit-link:before {
    font-family: FontAwesome; 
    padding-right: 3px;
    content: "\f040";
}



